/*==========  CSS Reset  ==========*/

html, body, div, span, h1, h2, h3,
h4, h5, h6, p, ol, ul, li, article,
aside, footer, header, nav, section, pre {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html {
    overflow-y: scroll;
}

/*==========  Navigation  ==========*/

.mobile-nav, .side-menu {
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: rgb(242, 242, 242);
    z-index: 1;
}

nav ul {
    padding: 20px 0;
    display: inline-block;
}

nav li {
    padding: 0 25px;
    display: inline-block;
}

nav a {
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

.active-tab {
    border-bottom: 2px solid #000;
}

/*==========  Header  ==========*/

h1 {
    position: relative;
    text-align: center;
    top: 50%;
    padding: 0 5px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 60px;
    color: #f2f2f2;
}

header {
    width: 100%;
    height: 70vh;
    background:
        linear-gradient(
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2)
        ),
        url("../assets/images/photo-1464054313797-e27fb58e90a9-min.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/*==========  Main Content  ==========*/

body {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 25px auto 0 auto;
    padding: 20px;
    background-color: #fff;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}

h2:not(:first-child) {
    padding-top: 20px;
}

h3 {
    padding: 15px;
}

.flex-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.code-section {
    width: 500px;
    overflow-x: auto;
}

pre {
    margin: 5px;
    padding: 15px;
    background-color: #F2F2F2;
    overflow-x: auto;
}

/*==========  Footer  ==========*/

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;
}

.social-networking-links {
    display: inline-block;
}

.social-networking-links a, .footer-tag a {
    text-decoration: none;
    font-size: 25px;
    color: #727272;
}

.linked-in {
    padding-left: 25px;
}

.social-networking-links a:hover, .footer-tag a:hover {
    color: #000;
}

.footer-tag {
    display: inline-block;
    float: right;
    padding-top: 5px;
}

.footer-tag a {
    font-size: 15px;
    font-weight: 600;
}

/*==========  For Desktop First  ==========*/

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

    header {
        background-attachment: scroll;
    }

@media only screen and (max-width : 480px) {

    /*=====  Header  =====*/

    h1 {
        font-size: 35px;
    }

    /*=====  Footer  =====*/

    footer {
        text-align: center;
    }

    .social-networking-links a {
        font-size: 20px;
    }

    .footer-tag {
        padding-top: 13px;
        display: block;
        float: none;
        font-size: 12px;
    }

    .footer-tag a {
        font-size: 12px;
    }

}

@media only screen and (max-width : 320px) {

}