<h2>DOM Queries</h2>
<div class="flex-section">
    <div class="code-section">
        <h3>Select id</h3>
<pre><code>var el = document.getElementById('id');</code></pre>
    </div>
    <div class="code-section">
        <h3>Select class</h3>
<pre><code>var el = document.getElementsByClassName('class');</code></pre>
    </div>
    <div class="code-section">
        <h3>Select single CSS</h3>
<pre><code>var el = document.querySelector('css selector');</code></pre>
    </div>
    <div class="code-section">
        <h3>Select HTML elements</h3>
<pre><code>var el = document.getElementsByTagName('tagName');</code></pre>
    </div>
    <div class="code-section">
        <h3>Select all CSS</h3>
<pre><code>var el = document.querySelectorAll('css selector');</code></pre>
    </div>
    <div class="code-section"></div>
</div>
<h2>Events</h2>
<div class="flex-section">
    <div class="code-section">
        <h3>Event Handler</h3>
<pre><code>element.onevent = functionName;</code></pre>
    </div>
    <div class="code-section">
        <h3>Event listener</h3>
<pre><code>element.addEventListener('event', functionName, Boolean);</code></pre>
    </div>
    <div class="code-section">
        <h3>Event Handler with parameters</h3>
<pre><code>element.onevent = function() {
    functionName(args);
};</code></pre>
    </div>
    <div class="code-section">
        <h3>Event listener with parameters</h3>
<pre><code>element.addEventListener('event', function() {
    functionName(args);
}, Boolean);</code></pre>
    </div>
</div>
<h2>AJAX</h2>
<div class="flex-section">
    <div class="code-section">
        <h3>Request and Response</h3>
<pre><code>var xhr = new XMLHttpRequest();

xhr.onload = function() {
    if(xhr.status === 200) {
        // Update
    }
};

xhr.open('GET', 'path/to/file.html', true);
xhr.send(null);</code></pre>
    </div>
    <div class="code-section">
        <h3>Request and Response with JSON</h3>
<pre><code>var xhr = new XMLHttpRequest();

xhr.onload = function() {
    if(xhr.status === 200) {
        responseObject = JSON.parse(xhr.responseText);

        for(var i=0; i&ltresponseObject.events.length; i++) {

        }
    }
};

xhr.open('GET', 'path/to/file.json', true);
xhr.send(null);</code></pre>
    </div>
</div>