<h2>DOM Queries</h2>
<div class="flex-section">
    <div class="code-section">
        <h3>Select id</h3>
<pre><code>var el = document.getElementById('id');</code></pre>
    </div>
    <div class="code-section">
        <h3>Select class</h3>
<pre><code>var el = document.getElementsByClassName('class');</code></pre>
    </div>
    <div class="code-section">
        <h3>Select single CSS</h3>
<pre><code>var el = document.querySelector('css selector');</code></pre>
    </div>
    <div class="code-section">
        <h3>Select HTML elements</h3>
<pre><code>var el = document.getElementsByTagName('tagName');</code></pre>
    </div>
    <div class="code-section">
        <h3>Select all CSS</h3>
<pre><code>var el = document.querySelectorAll('css selector');</code></pre>
    </div>
    <div class="code-section"></div>
</div>
<h2>Events</h2>
<div class="flex-section">
    <div class="code-section">
        <h3>Event Handler</h3>
<pre><code>element.onevent = functionName;</code></pre>
    </div>
    <div class="code-section">
        <h3>Event listener</h3>
<pre><code>element.addEventListener('event', functionName, Boolean);</code></pre>
    </div>
    <div class="code-section">
        <h3>Event Handler with parameters</h3>
<pre><code>element.onevent = function() {
    functionName(parameters);
};</code></pre>
    </div>
    <div class="code-section">
        <h3>Event listener with parameters</h3>
<pre><code>element.addEventListener('event', function() {
    functionName(parameters);
}, Boolean);</code></pre>
    </div>
</div>