<h2>DOM Queries</h2>
<div class="flex-section">
    <div class="code-section">
        <h3>jQuery object</h3>
        <pre><code>$('selector')</code></pre>
    </div>
    <div class="code-section">
        <h3>Document object ready event method</h3>
        <pre><code>$(document).ready(function () {

});

// Shorthand
$(function () {

});</code></pre>
    </div>
    <div class="code-section">
        <h3>Event methods</h3>
        <pre><code>$('selector').on('event', function() {

});</code></pre>
    </div>
    <div class="code-section"></div>
</div>
<h2>Events</h2>
<div class="flex-section">
    <div class="code-section">
        <h3>UI</h3>
        <pre><code>focus
blur
change</code></pre>
    </div>
</div>