<div id="container" class="container">
    <h2>jQuery</h2>
    <div class="flex-section">
        <div class="code-section">
            <h3>jQuery object</h3>
            <pre><code>$('selector')</code></pre>
        </div>
        <div class="code-section">
            <h3>Document object ready event method</h3>
            <pre><code>$(document).ready(function () {

});

// Shorthand
$(function () {

});</code></pre>
        </div>
        <div class="code-section">
            <h3>Event methods</h3>
            <pre><code>$('selector').on('event', function() {

});</code></pre>
        </div>
        <div class="code-section"></div>
    </div>
    <h2>Events</h2>
    <div class="flex-section">
        <div class="code-section">
            <h3>UI</h3>
            <pre><code>focus
blur
change</code></pre>
        </div>
        <div class="code-section">
            <h3>Keyboard</h3>
            <pre><code>input
keydown
keyup
keypress</code></pre>
        </div>
        <div class="code-section">
            <h3>Mouse</h3>
            <pre><code>click
dblclick
mouseup
mousedown
mouseover
mousemove
mouseout
hover</code></pre>
        </div>
        <div class="code-section">
            <h3>Form</h3>
            <pre><code>submit
select
change</code></pre>
        </div>
        <div class="code-section">
            <h3>Document</h3>
            <pre><code>ready
load
unload</code></pre>
        </div>
        <div class="code-section">
            <h3>Browser</h3>
            <pre><code>error
resize
scroll</code></pre>
        </div>
    </div>
</div>